<div class="container">
  <div class="row">
    <div class="col-12" style="text-align: center; margin-top: 10px;">
      <h2>Shopping List</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-add-item></app-add-item>
      <app-shoping-list></app-shoping-list>
    </div>
  </div>
</div>

