  <div>
    <label>Item Name</label>
    <input type="text" placeholder="Enter item name" #itemName>
  </div>
  <button type="submit" class="btn btn-primary" (click)="addItemIntoList(itemName.value)">Submit</button>

