<ul *ngIf="shoppingList" class="ShoppingList">
  <li class="listItem" *ngFor="let list of shoppingList">{{list.name}}</li>
</ul>

<!--<div class="container">-->
<!--  <ul class="list-group ShoppingList" *ngIf="shoppingList">-->
<!--    <li class="list-group-item listItem" *ngFor="let list of shoppingList">{{list.name}}</li>-->
<!--  </ul>-->
<!--</div>-->
